.LinkWrapper {
  display: flex;
  flex-direction: row;
  justify-items: start;
}

.Emoji {
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
}

.EmoLink {
  text-decoration: underline;
  color: black;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.EmoLink:hover {
  color: var(--blue);
}
