.Backdrop {
  margin-top: auto;
  background-color: white;
  border-top: 1px solid #f2f4f7;
  width: 100%;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55rem;
  max-width: 100%;
  margin: auto;
  padding: 1rem 0;
}

.TextWrapper {
  flex: 50%;
}

.TextWrapper > p {
  padding: 0;
  font-size: 0.75rem;
  margin: 0;
}

.FooterItems {
  flex: 50%;
}

.Links {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.Link {
  display: inline-block;
  list-style: none;
  font-size: 0.75rem;
}

@media (max-width: 59rem) {
  .Backdrop {
    padding: 0 2rem;
  }
}
