.Content {
  max-width: 55rem;
  margin: 5rem auto 0 auto;
}

@media (max-width: 1000px) {
  .Content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .Content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .Content {
    width: 90%;
  }
}
