.content {
  max-width: 60rem;
  min-height: 100vh;
  margin: 5rem auto 0 auto;
}

@media (max-width: 1000px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 90%;
  }
}
