.MainBody {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}

.MainText {
  flex: 60%;
  padding: 0;
  padding-right: 2rem;
}

.MainText > p {
  margin: 0 0 1rem 0;
}

.ImageLinkWrapper {
  flex: 40;
  display: flex;
  flex-direction: column;
}

.MainImage {
  width: 100%;
  max-width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.Links,
.MobileLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
  padding: 0;
  margin-top: 0.5rem;
}

.Links li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.LinkWrapper {
  font-size: 1.2rem;
}

.SocialMediaLink {
  cursor: pointer;
}

.MobileLinks {
  display: none;
}

@media (max-width: 45rem) {
  .MainBody {
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
  }
  .MainText {
    order: 2;
  }
  .ImageLinkWrapper {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    order: 1;
  }
  .Links {
    display: none;
  }
  .MobileLinks {
    display: flex;
    order: 3;
    margin: 0 auto 0 0;
    padding: 0;
  }
  .MobileLinks li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .MainImage {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
  }
}
